.YoutubeVid {
    width: 60vw;
    height: 60vh;
    border: 0;
    border-radius: 1%;
    margin: 0;
    margin-top: 10px;
}
@media (max-width: 1100px) {
    .containerSingleSong {
        display: flex;
        flex-direction: column;
    }
    .YoutubeVid {
        width: 95vw;
        height: 30vh;
        border: 0;
        border-radius: 1%;
        align-self: center;
    }
}
.containerSingleSong {
    display: flex;
}
.containerPlaylistNameList {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 80vh;
    gap: 1px 1px;
    grid-template-areas:
        "dataPlaylist"
        "makeStyles-rootList-5";
}
.makeStyles-rootList-5 {
    grid-area: makeStyles-rootList-5;
}

.containerList {
    /* height: 80vh; */
    /* overflow: auto; */
}
.containerItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.imgListItem {
    width: 2em;
    border-radius: 3px;
    margin: 0.5em 1em;
    position: relative;
}
.imgPlay {
    width: 2em;
    border-radius: 3px;
    margin: 0.5em 1em;
    position: absolute;
    opacity: 0.7;
    visibility: hidden;
}
.containerNames {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    font-size: 0.5em;
    text-decoration: none;
}
.nameListItem {
    font-size: 1.5em;
    font-weight: bold;
}
.duration {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    text-align: right;
    margin-right: 1em;
    color: white;
}

.dataPlaylist {
    grid-area: dataPlaylist;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}
.autoPlay {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.album-playlist {
    color: grey;
}
.artist-name {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}
.artist-cover-img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}
.name-of-album-playlist {
    display: flex;
    font-size: 1em;
    margin-left: 15px;
}
.iFrameAndDataSong > div  {
    display: flex;
    justify-content: center;
}
