.dataSong{
    color:black;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    background: linear-gradient(270deg, rgba(49,171,89,1) 0%, rgba(120,255,192,1) 100%);
    border-radius: 10px 10px 0 0;
}
.song-name-ditails{
    margin: 10px;
    font-size: 30px;
}
.song-date-ditails{
    margin: 0 10px 10px;
}
.iconButton{
    margin-left: auto;
}
.song-album-ditails{
    margin: 10px;
}
.song-album-img{
    width: 70px;
    height: 70px;
    border-radius: 10%;
}
.song-artist-ditails{
    margin: 10px;
}
.song-artist-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.song-artist-name,.song-album-name{
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    color: white;
}
p{
    font-size: 20px;
    color: gray;
}
.artistAndAlbum{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg, #181818 0%, #3f3f3f 80%);
    border-radius: 0 0 10px 10px ;
    margin-left: 10px;

}
.song-album-ditails,.song-artist-ditails{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1100px){
.song-artist-name,.song-album-name{
    font-size: 15px;
}
p{
    font-size: 15px;
}
}