@media (prefers-reduced-motion: no-preference) {
    .pulley1 {
        animation: logo-spin infinite 20s linear;
    }
    .pulley2 {
        animation: logo-spin infinite 20s linear;
    }
    .img404 {
        animation: logo-size infinite 2s linear;
    }
    .pulley2 {
        animation: logo-size infinite 2s linear;
    }
    .pulley1 {
        animation: logo-size infinite 2s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes logo-size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.img404 {
    width: 30vw;
    position: absolute;
    left: 35vw;
    top: 20vh;
    z-index: 1;
}
.pulley1 {
    z-index: 0;
    position: absolute;
    width: 15vw;
    left: 57vw;
    top: 27vh;
}
.pulley2 {
    /* animation: logo-spin infinite 20s linear; */
    z-index: 0;
    position: absolute;
    width: 13vw;
    left: 20vw;
    top: 60vh;
}
