.guestImg {
    position: absolute;
    mask-image: linear-gradient(180deg, transparent 20%, black 150%);
    bottom: 0;
    width: 99%;
    height: 100vh;
}
.particles {
    position: absolute;
    z-index: -1;
    bottom: 0;
    mask-image: linear-gradient(180deg, transparent 10%, black 30%);
}

.titleGuest {
    /* position: absolute; */
    font-size: 120px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 10px white;
    margin-top: 10vh;
     pointer-events: none;
}
.titleGuest-1 {
    margin-right: 15vw;
}
.titleGuest-2 {
    margin-left: 15vw;
}

.buttoms {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
@media (max-width: 1100px) {
    .titleGuest {
        font-size: 70px;
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 10px white;
        margin-top: 10vh;
    }
    .titleGuest-2 {
        margin-top: 10vw;
    }
}