.containerSinglePlaylist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist {
    display: flex;
    align-items: center;
    margin: 3vw 0;
    color: white;
}
.playlist-cover-img {
    width: 20vw;
    margin-right: 5vw;
}
.playlist-name {
    margin-bottom: 1em;
    font-size: 3vw;
}
